name: Sync GitHub Actions workflows

on:
  workflow_dispatch:
  push:
    branches:
      - trunk
    paths-ignore:
      - "**.md"
  schedule:
    - cron:  '*/10 * * * *' # Run every 10 minutes.

jobs:

  sync-workflows:
    name: Sync GitHub Actions workflows
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'Automattic' }}
    steps:
      - name: Sync files
        uses: adrianjost/files-sync-action@v1.5.1
        with:
          FILE_PATTERNS: |
            ^.editorconfig
            ^.github/workflows/behat-test.yml
          TARGET_REPOS: |
            Automattic/custom-metadata
            Automattic/Edit-Flow
            Automattic/media-explorer
            Automattic/WPCOM-Legacy-Redirector
          GITHUB_TOKEN: ${{ secrets.WPVIP_PLUGINS_BOT }}

